#Filter {
    float: left;
    margin-left: 2px;
    display: inline-block;
}

#Trainings {
    position: absolute;
    left: 40%;
    display: block;
}

#title {
    left: 50%;
    display: block;
}
